<h1>Posts</h1>

<% if user_signed_in? %>
  <p>You are signed in as <%= current_user.email %>.</p>
<% end %>


<% @posts.each do |post| %>
  <ul>
    <li>Author: <%= user_signed_in? ? post.user.name : 'Anonymous' %></li>
    <li>Title: <%= post[:title] %></li>
    <li>Body: <%= post[:body] %></li>
  </ul>
<% end %>

<%= link_to 'New Post', new_post_path %>
